.data-table {}

.data-table thead {
    background-color: #f0f0f0;
    font-weight: bold;
}

.data-table td,
.data-table th {
    min-width: 20px;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
    padding: 6px 8px;
    border: 1px solid #efefef;
    font-size: medium;
}

.data-table td[aria-selected="true"] {
    background-color: #e0e0e0;
    color: #000;
}


/*  Set hovering background on rows  */
.data-table tbody tr:hover {
    background-color: #f0f0f0;
}

/* Alternative row colors */
.data-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.op-bar {
    border: 1px solid #efefef;
    background-clip: border-box;
}

.op-bar span {
    background-color: #f0f0f0;
    color: #101010;
    padding: 4px 8px;
    font-size: medium;
}

.op-bar input:focus {
    outline: none;
}

.column-row {
    justify-items: center;
    align-items: center;
}

.column-row label {
    font-weight: bold;
    padding: 4px;
    margin-right: 8px;
    background-color: #f0f0f0;
}